* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
      --primary-color: #555358;
      --secondary-color: #7B7263;
      --tertiary-color: #DEEFB7;
  }

  body {
      color: var(--primary-color);
      font-family: 'Courier New', Courier, monospace;
  }

  img {
    width: 100%;
    height: auto;
  }


  /* header and nav bar */

  header {
      padding: 20px 35px;
      background-color: var(--tertiary-color);
      background-size: cover;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }

  header h1 {
      font-weight: bold;
      margin: 0;
      font-size: 36px;
      color: var(--primary-color);
      text-shadow: 0 0 10px rgba(0, 0, 0, .25);
  }

  header a {
      text-decoration: none;
      color: var(--primary-color);
  }

  header nav {
      margin: 7px 0;
    }

    header nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }

    header nav ul li a {
        padding: 10px 15px;
        font-size: 1.55vw;
        text-shadow: 0 0 10px rgba(0, 0, 0, .25);
    }

    header nav ul li a:hover {
        background: var(--primary-color);
        color: var(--secondary-color);
        border-radius: 15px;
        text-shadow: none;
    }

    /* Hero */

    .hero {
      background-color: var(--secondary-color);
      text-align: center;
    }

    .hero img{
       max-width: 275px;
       padding: 5px;
    }
    /* Main content styling */

    main {
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
    }

    /*Section styling*/

    section {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 20px;
      align-items: stretch;
    }

    .section-name {
      border-right: 5px solid var(--tertiary-color);
      flex-basis: 20%;
      text-align: right;
      padding: 5px;
    }

    .content {
      flex-grow: 1;
      max-width: 75%;
      flex-basis: 60%;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 768px){

    .portfolio {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .big-box-link, .link-row img {
      margin: 10px;
      border: 5px solid var(--secondary-color);
    }

    .big-box-link {
      flex: 1;
    }

    .link-row {
      flex: .3;
      display: flex;
      justify-content: space-evenly;
    }

    .link-row-cell {
      width: calc(50% - 5px);
    }
  }

    /*visited link */
    a:visited {
      text-decoration: none;
      color: var(--secondary-color);
    }

    /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }
}
